<%- contentFor('content') %>

<div class="container">
  <% if(admin) { %>
    <%- include ../includes/menu %>
    <%- include ../includes/addUser %>
    <% } else { %>
      <%- include admin %>
    <% } %>
</div>
